{% extends 'base.html.twig' %}
{% block title %}Mon compte - Password{% endblock %}
{% block body %}

  {% include "account/navAccount.html.twig" %}

  <div class="col-lg-8 col-md-12" style="background-color: #F8F9F9">

    <div class="container mt-3" {# style="background-color: white; height: 80%; display: center" #}>
      <h3 style="visibility: visible; text-align: center;">Modifier mon code d'accès</h3><hr>
      {{form(form)}}
      </div>
    </div>

  </div>
</div>

{% endblock %}