{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

  {% include "account/navAccount.html.twig" %}
  <div class="col-lg-8 col-md-12 " style="background-color: #F8F9F9 ">
    <!-- <div class="container" style="width: auto; height:auto"> -->
    <p class=" w-50 account-home pb-3">
      Gérer vos moyens de paiement, vos adresses de livraison, vos informations personelles ainsi que votre mot de passe. Pour toutes demandes supplémentaires, n'hésitez pas à contacter notre service client</p>
    <!-- </div> -->
  </div>

</div>
</div>

{% endblock %}