{% block body %}
{# <div class="monSliderSlick">
    <div>
        <img src="../uploads/{{ product.media }}" alt={{product.title}} alt="">
    </div>
</div>
<div id="ma_modal">
    <div id="modal-image" class=""><i class="far fa-times-circle"></i><img src="../uploads/{{ product.media }}"
            alt={{product.title}} alt="">
    </div>
</div> #}
{% endblock %}